<% layout('/layouts/boilerplate') %>
    <h1 class="text-center">Welcome to FlourishFables</h1>
    <div id="carouselExampleFade" class="carousel slide carousel-fade mb-3">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src=https://res.cloudinary.com/dxldqvmej/image/upload/v1693478226/FlourishFables/home3_wsr6v2.jpg
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/dxldqvmej/image/upload/v1693478304/FlourishFables/home5_n9go3l.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/dxldqvmej/image/upload/v1693478359/FlourishFables/home4_at3vrb.jpg"
                    class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://res.cloudinary.com/dxldqvmej/image/upload/v1693480150/FlourishFables/home8_i4b8jr.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body mt-5 mb-3">
                    <h5 class="card-title text-center">Read BLOGS!</h5>
                    <p class="card-text">Click on the button to read all blogs.</p>
                    <a href="/blogs" class="btn btn-primary">BLOGS</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://res.cloudinary.com/dxldqvmej/image/upload/v1693479731/FlourishFables/home7_mwagek.webp"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ADD NEW BLOG!</h5>
                    <p class="card-text">Share your thoughts, its a safe platform</p>
                    <a href="/blogs/new" class="btn btn-primary">ADD</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width:18rem">
                <img src="https://res.cloudinary.com/dxldqvmej/image/upload/v1693479072/FlourishFables/login_wioehw.avif"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>
                    <p class="card-text">Login to access more features.</p>
                    <a href="/login" class="btn btn-primary">Click Me!</a>
                </div>
            </div>
        </div>

    </div>